@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --background-color: #fff;
    --color: #c05555;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
}

.container {
    padding: 0;
    max-width: 1140px;
    margin: 0 auto;
}

/* Introduction */
.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    padding: 70px;
    height: auto;
    margin: 30px;
    border: 1px solid var(--color);
    background-color: var(--background-color);
    /* box-shadow: 0 10px 10px rgba(0, 5, 24, 0.4);  */ /* If you wish to add box-shadow*/
}

.line-one {
    position: absolute;
    top: -10px;
    right: 120px;
    width: 10px;
    height: 120px;
    background-color: var(--color);
}

.line-two {
    position: absolute;
    bottom: 160px;
    right: -10px;
    width: 300px;
    height: 10px;
    background-color: var(--color);
}

.introduction__info-container {
    width: 400px;
    height: 500px;
    padding: 10px 40px;
    border-left: 1px solid var(--color);
}

.introduction__header {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    color: var(--color);
}

.introduction__header-title {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color);
}

.introduction__description-title {
    font-size: 1rem;
    font: 300;
    text-transform: uppercase;
    margin: 50px 0 20px 0;
    color: var(--color);
}

.introduction__description-text {
    font-size: 0.8rem;
    color: var(--color);
}

.profile-photo {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 2px 2px 2px 60px;
}
.profile-photo:hover {
    border: 1px solid var(--background-color);
}

.social-icons {
    border-bottom: 2px solid var(--color);
    width: 200px;
}

.fa {
    width: 50px;
    height: 50px;
    color: var(--color);
    text-decoration: none;
}

.fa:hover {
    opacity: 0.5;
}

.contact__header {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 100px 0 5px 0;
    color: var(--color);
}

.contact__details {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color);
}

.themes{
    background-color: var(--background-color);
    box-shadow: 0 5px 15px rgba(50,50,50,0.1);
    padding: 10px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 40px;
    right: 30px;
    border-radius: 0px 40px 0px 0px;
    border: 1px solid var(--color);
}
.themes button{
    height: 25px;
    width: 25px;
    border: 3px solid #dddddd;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}
.btn1{
    background-color: #3498db;
}
.btn2{
    background-color: #ff1756;
}
.btn3{
    background-color: #1cb65d;
}
.btn4{
    background-color: #8e44ad;
}
.btn5{
    background-color: #f4b932;
}
.btn6{
    background-color: #fff;
}